# Configuration file

~CONFIG_VERSION: rv6-stable-7

counters {
    I:lastGridStorage=0
    I:lastPlayer=1
}


orderedvalues {
    I:presses=36
}


players {
    I:7f1766e3-30d1-4dfe-8db5-ebeda2ae8f91=0
}


